<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.playandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_playandroid"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayAndroid"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PostArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OpenProjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ThatDayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GirlAndJokesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutAuthorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>